{% import 'macros.html' as macro %}
{% extends 'base.html' %}


{% block content %}
    <div class="container-fluid py-2">
        <h2>GENERAL NEWS</h2>
        <hr>
        <div class="row">
            {{macro.displayarticlelist(general)}}
        </div>

        <h2>HEALTH NEWS</h2>
        <hr>
        <div class="row">
                {{macro.displayarticlelist(health)}}
            
        </div>

        <h2>ENTERTAINMENT</h2> 
        <hr>
        <div class="row">
                {{macro.displayarticlelist(entertainment)}}

        </div>

        <h2>BUSINESS</h2>
        <hr>
        <div class="row">
                {{macro.displayarticlelist(business)}}

        </div>   
    </div>

{% endblock %}