{% macro  displayarticlelist(articles) %}
{% for article in articles %}
            <div class="col-sm-6 col-lg-3 col-md-4 p-2">
                <div class="card bg-light h-100">
                    <img src="{{article.urlToImage}}" alt="image" class="card-img-top card-image">
                    <div class="card-title h4">
                        {{article.title | truncate(40)}}
                    </div>
                    <div class="card-body">
                        <div class="card-text">
                            {{article.content |truncate(100)}} <br>
                            <a href="{{article.url}}" class="btn btn-primary btn-sm" target="_blank">Read More...</a>
                        </div>
                    </div>
                    <div class="card-footer small font-italic py-0">
                        Author: {{article.author}}<br> 
                        Date: {{article.publishedAt}} <br>
                        source: {{article.source.name}}

                    </div>
                </div>
            </div>
{% endfor %}
{% endmacro %}


{% macro displaysources(source_list) %}

    {% for source in source_list %}
    <div class="col-sm-6 col-md-4 col-lg-3 p-2">
            <div class="card h-100">
                <div class="card-body">
                    <div class="card-title h4">{{source.name}}</div>
                    <hr>
                    <div class="card-text">
                        {{source.description}} 
                    </div>
                </div>
                <div class="card-footer sm bg-default py-0">
                        <a href='/sources/{{source.id}}' class="card-link">Headlines from source</a> <br>
                        <a href='{{source.url}}' target='_blank' class="card-link">Visit source Website</a>
                </div>
            </div>
        </div>
    {% endfor %}

{% endmacro %}